/* Общие стили */

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

	color: #000000;
	background-color: #ffffff;

	position: relative;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal-map {
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	bottom: 647px;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	width: 940px;
	height: 446px;
}

.modal-map img {
	padding: 0;
	margin: 0;
}
/* Модальное окно с обратной связью */

.modal-feedback {
	position: absolute;
	width: 620px;
	bottom: 201px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: white;
	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-block {
	position: relative;
	padding-top: 48px;
}

.modal-close {
	position: absolute;
	background-color: transparent;
	background-image: url("../img/icon-close.svg");
	right: 7px;
	top: 9px;
	border: none;
	padding: 0;
	margin: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.modal-feedback label {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 13px;
}

.feedback ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.feedback li {
	display: flex;
	flex-direction: column;
}

.feedback-first {
	margin-right: 20px;
	margin-left: 75px;
}

.feedback-name,
.feedback-email {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9 ;
	display: block;
	width: 188px;
	height: 38px;
	background-color: #ffffff;
	border: 2px solid #dee3e4;
	padding-left: 16px;
	padding-right: 16px;
}

label[for=feedback-text] {
	margin-top: 22px;
	margin-left: 75px;
}

.modal-feedback textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9 ;
	display: block;
	width: 432px;
	height: 101px;
	background-color: #ffffff;
	border: 2px solid #dee3e4;
	padding-top: 13px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 37px;
	margin-left: 75px;
}

.feedback-button {
	background: #f4f4f4;
	padding-top: 55px;
	padding-bottom: 44px;
	padding-left: 75px;
	padding-right: 75px;
	width: 100%;
}

.feedback-button input {
	border: none;
	outline: none;
	padding: 10px 199px;
	min-height: 10px;
}

/* Стили шапки */
.main-header-panel {
	width: 100%;
	background-color: #293449;
}
.main-header {
	background-color: #f4f7f9;
	font-family: "Cuprum", Tahoma, sans-serif;
	padding-bottom: 65px;

}

/* Стили для верхней панели шапки */

.shop-panel {
	font-size: 17px;
	line-height: 18px;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	height: 42px;
	margin-bottom: 47px;
	margin-right: auto;
	margin-left: auto;
	display: flex;

}

.first-part-panel {
	display: flex;

}

.second-part-panel {
	display: flex;
}

.shop-panel-logo {
	background-color: #ee3643;
	box-shadow: 0px 5px 0 0 rgb(181, 41, 51);
	display: block;
	width: 220px;
	height: 18px;
	padding-top: 13px;
	padding-bottom: 11px;
}

.shop-panel-logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.shop-panel-logo:hover,
.shop-panel-logo:focus {
	background-color: #ca2c37;
}

.shop-panel-logo:active {
	background-color: #ba2732;
}

.shop-panel a {
	color: #ffffff;
}

/* Форма поиска */


.header-search {
	width: 253px;
	display: flex;
	align-items: stretch;
	padding-left: 17px;
}

.header-search svg {
	margin-top: 12px;
	margin-right: 15px;
	fill: white;
	opacity: 0.3;
}

.header-search:hover svg {
	opacity: 1;
}

.search-field {
	border: none;
	background-color: transparent;
	outline: 0;
	width: 100%;
}

.search-field:focus {
	background-color: white;
}

.search-field:focus .header-search {
	background-color: white;
}


.header-search:active .search-icon {
	fill: red;
}

.header-search input::placeholder {
	color: white;
}

/* Закладки и корзина */

.shop-panel-bookmarks {
	width: 100px;
	padding-left: 50px;
	padding-top: 12px;
	position: relative;

}

.shop-panel-bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	opacity: 0.3;
}

.shop-panel-bookmarks:hover::before {
	opacity: 1;
}

.shop-panel-bookmarks:active::before  {
	opacity: 0.5;
}

.shop-panel-cart {
	width: 100px;
	padding-left: 50px;
	padding-top: 12px;
	position: relative;
}


.shop-panel-cart::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 18px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	opacity: 0.3;
}

.shop-panel-cart:hover::before {
	opacity: 1;
}

.shop-panel-cart:active::before {
	opacity: 0.5;
}

.header-search:hover,	
.shop-panel-bookmarks:hover,
.shop-panel-cart:hover,
.shop-panel-bookmarks:focus,
.shop-panel-cart:focus {
	background-color: #212a3a;
}

.shop-panel-bookmarks:active,
.shop-panel-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.5);
}

.shop-panel-order {
	background-color: #63a63e;
	width: 150px;
	display: flex;
	padding-top: 12px;  
}

.shop-panel-order span {
	margin-right: auto;
	margin-left: auto;
}

.shop-panel-order:hover,
.shop-panel-order:focus {
	background-color: #5fbb2d;
}

.shop-panel-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.shop-panel-added {
	background-color: #ee3643;
}

/* Стили для основной части шапки */
.header-info {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 35px;
	display: flex;
}

.header-info-title {
	padding: 0;
	margin: 0;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	width: 200px;
	margin-left: 53px;
	display: block;
}

.header-info-contacts {
	margin-left: 76px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-phone {
	position: relative;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: 49px;
	padding-left: 71px;
	margin-bottom: 5px;
}

.header-phone::before {
	content: "";
	position: absolute;
	left: 13px;
	top: 10px;
	width: 18px;
	height: 20px;
	background-image: url("../img/icon-phone.svg");
}

.header-address {
	font-size: 14px;
	line-height: 24px;
	align-items: center;
	color: #32425c;
	display: block;
	margin: 0px;
	padding: 0px;
}

.user-nav {
	padding: 0;
	margin: 0;
	list-style: none;

	margin-left: 55px;
	display: flex;
	justify-content: space-between;
}

.user-nav a {
	font-size: 21px;
	line-height: 21px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #000000;
	background-color: #ffffff;
}

.user-nav a:hover,
.user-nav a:focus {
	color: #ee3643;
}

.user-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-link {
	padding-left: 48px; 
	display: block;
	padding-right: 27px;
	margin-right: 10px;
	position: relative;
}

.login-link::before {
	content: "";
	position: absolute;
	left: 14px;
	top: 14px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.svg");
}

.login-link:hover::before {
	background-image: url("../img/icon-login2.png");
}

.login-link:active::before {
	background-image: url("../img/icon-login.svg");
}

.check-in-link {
	display: block;
	padding-left: 25px;
	padding-right: 25px;
}

.username-panel {
	width: 299px;
	margin-left: 41px;
}

.username-block {
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.username::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 18px;
	top: 13px;
	left: 13px;
	background-image: url(../img/icon-user.svg);
}

.username {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	display: block;
	margin-left: 47px;
	margin-top: 14px;
	margin-bottom: 11px;
}

.username:active {
	color: rgba(0, 0, 0, 0.3);
}

.username-block svg {
	margin-top: 14px;
	margin-right: 10px;
}

.user-nav-option {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin-left: 20px;
}

.user-nav-option a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.first-option {
	margin-right: 32px;
}

.user-nav-option a:hover,
.user-nav-option a:focus {
	color: #ee3643;
}

.user-nav-option a:active {
	color: rgba(50, 66, 92, 0.3);
}

/* Стили основного меню */

.main-nav {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	color: #ffffff;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 5px 0 0 #293449;
}


.main-nav-item:hover,
.main-nav-item:focus {
	background-color: #293449;
}

.main-nav-item:active {
	background-color: #1d2739;
}

.main-nav-item:active a {
	color: #f1f5f7;
}

.main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	padding-right: 22px;
	padding-left: 25px;
}

.main-nav-item a {
	color: white;

}

.main-nav-item 	{
	display: block;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-right: 30px;
	padding-left: 30px;
}

.main-nav-item:active a {
	color: rgba(255, 255, 255, 0.5);
}


/*Стили для основного контейнера*/

.container {
	background-color: #ffffff;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.container h2 {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.container-info {
	display: flex;
	justify-content: space-between;
}

.container-info {
	font-size: 13px;
	line-height: 24px;
}



.main-about-us .button {
	width: 220px;
}

.main-about-us p {
	width: 520px;
}

.about-us-delivery {
	width: 390px;
	margin-bottom: 23px;
}

.main-about-us ul {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	list-style: none;
}

.main-about-us li {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	padding-left: 36px;
	position: relative;
}

.main-about-us li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 25px;
	height: 2px;
	background-image: url(../img/li-icon.png);


}

.main-contacts p {
	width: 190px;
	margin-bottom: 23px;
}

.main-contacts img {
	margin-bottom: 40px;
}

.button {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	color: white;
	background-color: #ee3643;

	display: block;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}


/*Стили для футера*/

.main-footer {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	margin-top: 87px;
}

.footer-light {
	width: 100%;
	background-color: #32425c;
}
.footer-dark {
	width: 100%;
	background-color: #293449
}

.main-footer a {
	color: white;
}

.main-footer-up {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-left {
	width: 380px;
	margin-right: 10px;
}

.main-footer-logo {
	background-color: #ee3643;
	box-shadow: 0px 5px 0 0 rgb(181, 41, 51);
	display: block;
	width: 220px;
	height: 42px;
	padding-top: 21px;
	margin-bottom: 34px;
}

.main-footer-logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footer-contacts {
	width: 330px;
	margin-left: 3px;
}

.main-footer ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.footer-nav li {
	margin-left: 60px;
}

.footer-nav li:first-child {
	margin-left: 0px;
}

.footer-nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.footer-nav {
	margin-top: 35px;
}

ul.footer-nav-second {
	margin-top: 40px;
}

.footer-nav a:hover,
.footer-nav a:focus {
	text-decoration: underline;
}

.footer-nav a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav-second a {
	color: #ffd180;
}

.footer-information {
	font-size: 16px;
	line-height: 18px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-copyright {
	width: 238px;
	margin-top: 39px;
	margin-bottom: 38px;
	margin-right: 153px;

}

.social-and-link {
	margin-top: 35px;
	margin-right: 70px;
	width: 158px;
}

.footer-social {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.footer-social-item {
	background-color: #212a3a;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
}

.footer-social-item svg {
}

.footer-social-item:hover,
.footer-social-item:focus {
	background-color: #ee3643
}

.footer-link {
	display: flex;
}

.footer-link p {
	margin-top: 40px;
}

.link-mail {
	padding-left: 10px;
	width: 160px;
}

.link-site {
	padding-left: 30px;
	width: 150px;
}

.footer-link a {
	color: #ffd180;
}

.footer-link a:hover,
.footer-link a:focus {
	text-decoration: underline;
}

.footer-link a:active {
	color: #ee3643;
	text-decoration: none;
}

/* Стили для страницы каталога */

.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	min-height: 40px;
	margin-top: 23px;
}
.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	margin-right: 40px;
	position: relative;
}

.breadcrumbs-link::after {
	content: "";
	position: absolute;
	top: 2px;
	right: -24px;
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
}

.name-catalog {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
	font-weight: normal;
	padding: 0;
	margin: 0;
	padding-top: 33px;
	padding-bottom: 35px;
	padding-left: 30px;
	margin-bottom: 30px;
}

.shoping-index {
	display: flex;
}

.filters {
	margin-right: 20px;
}

.filters fieldset {
	width: 220px;
	padding: 0;
  	margin: 0;
  	margin-bottom: 30px;
  	border: none;
}

.filters legend {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 14px;
}

.filters ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filters label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	position: relative;
  	display: block;
  	cursor: pointer;
  	user-select: none;
}

.filter-option {
	margin-bottom: 19px;
	padding-left: 38px;
	position: relative;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -35px;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: -3px;
	left: -35px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: -5px;
	left: -35px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
}

.show-result {
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 12px;
	padding-bottom: 11px;
	padding-right: 39px;
	padding-left: 39px;
	border-radius: 3px;
	background-color: white;
	border: 1px solid #e5e5e5;
	margin-top: 35px;
}

/* Каталог */

.catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item {
	border: 1px solid #e5e5e5;
	width: 219px;
	margin-bottom: 20px;
	min-height: 318px;
	position: relative;
}

.new-item::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 59px;
	background-image: url("../img/new-flag.png");
}

.catalog-item-name {
	display: block;
	min-height: 40px;
	padding: 0 25px;
	margin-top: 10px;
	margin-bottom: 15px;   
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: black;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
  	font-weight: bold;
  	text-align: center;
  	color: #999999;
  	display: block;
 	min-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: line-through;
}

.new-price {
	display: block;
	font-size: 17px;
	line-height: 18px;
  	font-weight: bold;
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
}
.new-price::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.catalog-item-option {
	list-style: none;
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	visibility: hidden;
	position: absolute;
}

.catalog-item-buy {
	position: relative;
}

.catalog-item-buy a {
	color: white;
	box-shadow: inset 0px -3px 0 0 #367315;
  	background-color: #63a63e;
  	display: flex;
  	height: 38px;
  	width: 135px;
  	border-radius: 3px;
  	justify-content: center;
  	align-items: center;
  	margin-bottom: 8px;
  }

.catalog-item-buy a:before {
	content: "";
	position: absolute;
	top: 11px;
	left: 14px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	opacity: 0.3;
}

.catalog-item:hover .catalog-item-option {
	visibility: visible;
	top: 43px;
	left: 0px;

}

.catalog-item:hover img {
	visibility: hidden;
}

.catalog-item-buy a:hover,
.catalog-item-buy a:focus {
	background-color: #5fbb2d;
}

.catalog-item-buy a:active {
	box-shadow: none;
	background-color: #518534;
}

.catalog-item-mark a {
	display: flex;
  	border-radius: 3px;
  	justify-content: center;
  	align-items: center;
	color: #32425c;
	border: 3px solid #63a63e;
  	background-color: white;
  	height: 33px;
  	width: 129px;
}

.catalog-item-mark a:hover,
.catalog-item-mark a:focus {
	border: 3px solid #32425c;

}

.catalog-item-mark a:active {
	border: 3px solid #32425c;
	opacity: 0.3;
}