/* Общие стили */

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

.modal {
	display: none;
}

/* Стили шапки */
.main-header {
	background-color: #f4f7f9;
	font-family: "Cuprum", Tahoma, sans-serif;
}

/* Стили для верхней панели шапки */

.shop-panel {
	font-size: 17px;
	line-height: 18px;

	background-color: #293449;
}

.shop-panel-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.shop-panel-logo:hover,
.shop-panel-logo:focus {
	background-color: #ca2c37;
}

.shop-panel-logo:active {
	background-color: #ba2732;
}

.shop-panel a {
	color: #ffffff;
}

.header-search input {
	border: none;
	background-color: transparent;
	outline: 0;
}

.header-search input::placeholder {
	color: white;
}

.header-search input:hover,
.shop-panel-bookmarks:hover,
.shop-panel-cart:hover,
.header-search input:focus,
.shop-panel-bookmarks:focus,
.shop-panel-cart:focus {
	background-color: #212a3a;
}

.shop-panel-bookmarks:active,
.shop-panel-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.5);
}

.header-search input:focus {
	background-color: white;
}

.shop-panel-order {
	background-color: #63a63e;
}

.shop-panel-order:hover,
.shop-panel-order:focus {
	background-color: #5fbb2d;
}

.shop-panel-order:active {
	background-color: #293449;
	color: rgba(255, 255, 255, 0.5);
}

.shop-panel-added {
	background-color: #ee3643;
}

/* Стили для основной части шапки */

.header-info-title {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.header-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-address {
	font-size: 14px;
	line-height: 24px;
	align-items: center;
	color: #32425c;
}

.user-nav a {
	font-size: 21px;
	line-height: 21px;
	
	color: #000000;
	background-color: #ffffff;
}

.user-nav a:hover,
.user-nav a:focus {
	color: #ee3643;
}

.user-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.username {
	font-size: 21px;
	line-height: 21px;
	
	color: #000000;
	background-color: #ffffff;
}

.username:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-nav-option {
	list-style: none;
}

.user-nav-option a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-nav-option a:hover,
.user-nav-option a:focus {
	color: #ee3643;
}

.user-nav-option a:active {
	color: rgba(50, 66, 92, 0.3);
}

/* Стили основного меню */

.main-nav {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	color: #ffffff;
	
	box-shadow: inset 0px -5px 0 0 #293449;
}

.main-nav-item:hover,
.main-nav-item:focus {
	background-color: #293449;
}

.main-nav-item:active {
	background-color: #1d2739;
}

.main-nav ul {
	list-style: none;
}

.main-nav-item a {
	color: white;
}

.main-nav-item:active a {
	color: rgba(255, 255, 255, 0.5);
}


/*Стили для основного контейнера*/

.container {
	background-color: #ffffff;
}

.container h2 {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.main-about-us li {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

.button {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	color: white;
	background-color: #ee3643;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}


/*Стили для футера*/

.main-footer {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	background-color: #32425c;
}

.main-footer a {
	color: white;
}

.main-footer-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-footer ul {
	list-style: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
	text-decoration: underline;
}

.footer-nav a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav-second a {
	color: #ffd180;
}

.footer-information {
	font-size: 16px;
	line-height: 18px;
}

.footer-social-item {
	background-color: #212a3a;
}

.footer-social-item:hover,
.footer-social-item:focus {
	background-color: #ee3643
}

.footer-link a {
	color: #ffd180;
}

.footer-link a:hover,
.footer-link a:focus {
	text-decoration: underline;
}

.footer-link a:active {
	color: #ee3643;
	text-decoration: none;
}

/* Стили для страницы каталога */

.breadcrumbs {
	list-style: none;
}
.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.name-catalog {
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	color: #32425c;
	background-color: #f2f6f8;
	font-weight: normal;
}

.filters p {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.filters ul {
	list-style: none;
}

.filters label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.show-result {
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;

	background-color: white;
	border: 1px solid #e5e5e5;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border: 1px solid #e5e5e5;
}

.catalog-item-name {
	font-size: 18px;
	line-height: 20px;
  	font-weight: bold;
  	text-align: center;
  	color: black;
}

.old-price {
	font-size: 17px;
	line-height: 18px;
  	font-weight: bold;
  	text-align: center;
  	text-decoration: line-through;
  	color: #999999;
}

.new-price {
	font-size: 17px;
	line-height: 18px;
  	font-weight: bold;
  	text-align: center;
  	
  	color: white;
  	background-color: #f03644;
}

.catalog-item-option li {
	list-style: none;
	font-family: "Cuprum", Tahoma, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.catalog-item-buy a {
	color: white;
	box-shadow: inset 0px -3px 0 0 #367315;
  	background-color: #63a63e;
}

.catalog-item-buy a:hover,
.catalog-item-buy a:focus {
	background-color: #5fbb2d;
}

.catalog-item-buy a:active {
	box-shadow: none;
	background-color: #518534;
}

.catalog-item-mark a {
	color: #32425c;
	outline: 3px solid #63a63e;
	outline-offset: -3px;
  	background-color: white;
}

.catalog-item-mark a:hover,
.catalog-item-mark a:focus {
	outline: 3px solid #32425c;

}

.catalog-item-mark a:active {
	outline: 3px solid #32425c;
	opacity: 0.3;
}